.googel-colors {
    position: relative;
    width: 300px;
    height: 76px;
    border-radius: 50px;
    margin: 150px auto;
    border: 1px solid transparent;
    overflow: hidden;
    font-weight: bold;
}
.googel-colors::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 0px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-conic-gradient(red 0deg, red 45deg, yellow 45deg, yellow 90deg, green 90deg, green 135deg, blue 135deg, blue 180deg, red 180deg, red 225deg, yellow 225deg, yellow 270deg, green 270deg, green 315deg, blue 315deg, blue 360deg);
    animation: rote 3s infinite 2s forwards linear;
}
.googel-colors::after {
    content: "Elzer Web School - Googel Animation";
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 6px);
    height: 70px;
    background-color: #eee;
}

/*start animation  */
@keyframes rote {
    100% {
        transform: rotate(360deg);
}
}