.googel-colors {
    position: relative;
    width: 350px;
    height: 100px;
    border-radius: 50px;
    margin: 150px auto;
    border: 1px solid transparent;
    overflow: hidden;
    font-weight: bold;
}
.googel-colors::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300%;
    height: 370%;
    background-image: repeating-conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    animation: rote 3s infinite linear;
    -webkit-animation: rote 3s infinite 2s forwards linear;
}
.googel-colors::after {
    content: "Elzer Web School - Googel Animation";
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: #eee;
}

/*start animation  */
@keyframes rote {
    100% {
        transform: rotate(360deg);
}
}